body{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background: url('../images/bg-0.jpg');
}
.text{
    color:white;
    text-transform: uppercase;
    text-align: center;
}
.card-d{
    width: 30rem;
    height: 25rem;
    box-shadow: 0 0 1rem 0 rgba(43, 137, 224, 0.2); 
    border-radius: 5px;
    position: relative;
    z-index: 1;
    /* background: inherit; */
    overflow: hidden;
    
}
.card-d:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(43, 137, 224, 0.2); 
    filter: blur(10px);
    margin: -20px;
  }